
.body {
    display: grid;
    font-family: 'Comfortaa', cursive;
    background-color: #2e3440;
    color: #d8dee9;
    text-align: center;
}

.h1 {
    text-align: center;
}

.bio {
    text-align: center;
}


.avatar {
    background-image: url("icons/avatar.png");
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    transition: 1s;
}

.container-projects {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.container-projects>a {
    text-decoration: none;
}

.container-social {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    text-align: center;
    transition: 1s;


    background-color: #3b4252;
    border-radius: 20px;
    padding: 10px;
}

.container-social:hover {
    box-shadow: 10px 10px #434c5e;
}
.container-social>a {
    text-decoration: none;
}

.social {
    margin-left: 10px;
    margin-right: 10px;
}


nav {

    margin-left: auto;
    margin-right: auto;
    /* max-width: 200px; */
    text-align: center;
    transition: 1s;


    background-color: #3b4252;
    border-radius: 20px;
    padding: 20px;
    margin-top: 2em;
}

nav>a {
    color: #a3be8c;
    display: inline-block;
    text-align: center;
}

nav>a:hover {
    text-decoration: none;
}



.container {
    /* margin-top: 1em; */
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #ebcb8b;
}

.container a {
    font-size: 0.9em;
    text-align: center;
    width: 100px;
    color: #bf616a;
}

.container a:hover {
    text-decoration: none;
}

.container>div {
    flex: 1 0 10%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 1em;
    margin-top: 2em;
    min-width: 300px;
    max-width: 100%;
    font-size: 33px;
}


@media screen and (min-width: 675px) {
    .container>div {
        font-size: 33px;
    }

    .h1 {
        font-size: 4em;
    }

    .avatar {
        width: 200px;
        height: 200px;
    }

    .bio {
        font-size: 2em;
    }

    .social {
        width: 70px;
        height: 70px;
    }

    nav {
        font-size: 2em;
    }
}

@media screen and (max-width: 674px) {
    .container {
        /* margin-left: 50px; */
    }

    .container>div {
        font-size: 20px;
    }

    .h1 {
        font-size: 2em;
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .bio {
        font-size: 1em;
    }
    
    .social {
        width: 45px;
        height: 45px;
    }

    nav {
        font-size: 1em;
    }
}

.container ul {
    list-style-type: square;
} 



