
.body {
    font-family: 'Comfortaa', cursive;
    background-color: #2e3440;
    color: #d8dee9;
    text-align: center;
}

.h1 {
    font-size: 65px;
    text-align: center;
}

.bio {
    font-size: 45px;
    text-align: center;
}


.avatar {
    width: 200px;
    height: 200px;
    background-image: url("main_ava.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

.container {
    width: 100%;
    text-align: center;
}

.container-social {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    text-align: center;
    background-color: #3b4252;
    /* background-color: #434c5e; */
    border-radius: 20px;
    padding: 10px;
}

.container>a {
    text-decoration: none;
}


.social {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}