---
const currentDateYear = new Date().getFullYear();
---

<footer>
  <div class="container">
    <ul>
      <li>
        <a href="mailto:ic-it@mail.com">Contact</a>
      </li>
      <li>
        <a href="https://github.com/ic-it/ic-it.github.io">GitHub</a>
      </li>
    </ul>
    <p>
      <small>Copyright &copy; {currentDateYear} Illia Chaban<br><a href="https://ic-it.github.io/">IC-IT's Blog</a></small>
    </p>
  </div>
</footer>

<style>
  footer {
    padding-block: var(--size-3);
    margin-block-start: var(--size-9);
    text-align: center;
  }

  .container {
    display: grid;
    place-items: center;
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: var(--size-3);
  }
</style>
